.student-list
{
  thead{
    background:#cccccc;
  }
  th,td{
    padding: 10px;
  }
  .stud-no{
    width: 40px;

  }
  .stud-name{
    width: 200px;
  }
  .stud-admno{
    width: 80px;
  }
  .stud-class{
    width: 80px;
  }
  .stud-action{
    width: 100px;
  }
  .list-group-item{
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}